html{
    box-sizing: border-box;
  }
  
  *, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    max-height: 100%;
  }
  ul{
    list-style-type:  none; 
  }
     a{
    text-decoration: none;
    color: black;
   }
  
    body{
      font-family: 'Inter' , sans-serif;
      font-size: 25px;
      font-weight: 1000px;
      background-color: #f5ffc9b7; 
    }
  
    
    .header__inner {
      padding-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
     
  }
  .header{
    background: #f5ffc970;
    border: 1px solid rgba(0, 0, 0, 0.212);
  }
    .menu__list{
      display: flex;
      gap: 300px; 
      padding-right: 50px;
  
    }
    .menu__list-link {
      color: #000;
  
    }
    .logo__img {
      width: 330px; 
  }
  
  .header__inner{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 15px;
  }
  .user__img{
    width: 50px;
  }



.submenu {
    display: none; /* Сначала скрываем список */
    position: absolute;
    background-color: #9de99331;
    border: 1px solid #00000052;
    padding: 30px;
    width: 200px;
    height: 200px;
  }
  
  .menu__list-item:hover .submenu {
    display: none; /* Скрываем выпадающий список по умолчанию */
  }
  .submenu li {
    color: #6e6b6b; /* Цвет текста */
    font-size: 24px; /* Размер шрифта */
    font-family: Arial, sans-serif; /* Шрифт */
    text-align: left; /* Выравнивание текста */
    margin-bottom: 15px; /* Отступ между пунктами списка */
  }
.footer__inner{
  /* padding-top: 200px; */
background: linear-gradient(rgba(252, 251, 217, 0.53), rgb(230, 238, 121));
}
.footer__menu{
  margin-top: 100px;
display: flex;
justify-content:center ;
gap: 300px;
/* align-items: center; */

}
.logo__footer-img{
width: 200px;
transition: 0.5s;
}
.logo__footer-img:hover{
transform:scale(1.5) ;
}

.logo__footer{
  /* margin-right: -75px; */
  margin-top: 100px;
  /* display: flex;
text-align: center;
align-items: end; */
/* display: inline-block; */
/* overflow: hidden; */
}

.footer__text{
text-align: center;
/* padding-right: 50px; */
font-size: 12px;
padding-bottom: 20px;
margin-right: 75px;
}
.footer__menu-link:hover{
color: azure  ;
transition: 0.2s;
}
.footer__menu-title{
font-weight: 700;
font-size: 20px;
}
.width-wrapper__footer{
  max-width: 1280px;
  margin: 0 auto;
  }
  /* .course-plan__list-text{
  font-size: 1.04vw;
  } */
  .tg_link{
    width: 125px;
    transition: 0.25s;
  }
  .tg_link:hover{
    transform: scale(1.1);
  
  }
  .arrow1_img {
    width: 63px;
    height: 65px;

    right: 1px; /* Сдвиг элемента на 182px влево от его нормального положения */
  }
  
  .top{
  
    margin-bottom: 157px;
    margin: 10px 10px ;
  }
  .top__wrapper{
    display: flex;
    justify-content: space-between;
    gap: 70px;
  
  }
  .zaeb{
    width: 100%;
    justify-content: space-between;
    padding-top: 10px; 
    
}
.fon1_img {
  width: 431px;
  height: 474px;
  margin-top: 237px;
  position: relative;
  right: 20px;
}

.fon__img {
  width: 470px;
  height: 481px;
  margin-top: 161px;
  position: relative;
  right: 15px;
}

.fon1__img {
  width: 423px;
  height: 486px;
  margin-top: 0px;
  position: relative;
  right: 20px;

}
.greetings {
  font-size: 34px;
  color: #333;
  text-align: center;
  margin-top: 1px;
  margin-left: 28px;
}

.video {
  max-width: 900px;
  margin: 30px 0 0 0;
}

.content-wrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.step-buttons-container {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 25px 65px 490px;

}

.step-button {
  padding: 20px 63px;
  font-size: 18px;
  background-color: #d6e643;
  color: white;
  border: none;
  border-radius: 107px;

  
}
/*.step-button2 {
  padding: 20px 63px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 107px;
}*/
.step-button:hover {
  background-color: #f8f553;
}
