  html{
    box-sizing: border-box;
  }
  
  *, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  ul{
    list-style-type:  none; 
  }
  a{
    text-decoration: none;
    color: black;
  }
  .container {
      max-width: 1920px;
      margin: 0 auto;
      padding: 0 10px;
      /* background: rgba(52, 0, 136, 0.36); */
      /* box-shadow: 0px 2px 4px rgba(100,100,100,0.5); */
    }
body{
      font-family: 'Inter' , sans-serif;
      font-size: 20px;
      font-weight: 500px;
      line-height: 1.3;
}
/* .footer{
  padding-top: 50px;
} */
.footer__inner{
  background: linear-gradient(rgba(240, 244, 255, 0.53), rgba(60, 75, 116, 1));
}
.footer__menu{
  display: flex;
  justify-content: space-evenly;
  gap: 300px;
}
.logo__footer-img{
  width: 200px;
}
.logo__footer{
text-align: center;
}
.footer__text{
text-align: center;
/* padding-right: 50px; */
font-size: 12px;
padding-bottom: 20px;
}
.footer__menu-link:hover{
  color: azure  ;
  transition: 0.25s;
}
.footer__menu-title{
font-weight: 700;
font-size: 24px;
}
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
html, body{
  height: 100%;
}
.main{
  flex-grow: 1;
}

.introduce{
  text-align: center;
}
.introduce__title{
  padding-bottom: 75px;
  font-size: 36px;
}
.introduce__item-1{
  background-color: rgba(147, 222, 147, 0.2);
  max-width: 1500px;
  margin: 0 auto;
}
.introduce__item-wrapper{
  display: flex;
  justify-content: space-between;

  padding-right: 25px;
  padding-left: 25px;
}
.introduce__text-1{
  max-width: 1000px;
  margin: auto 0;
}
.introduce__text-1-img{
  width: 125px;
  height: 125px;
}
.introduce__item-2{
  background-color: rgba(147, 222, 147, 0.2);
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 100px;
  /* padding-top: 100px; */
}
.introduce__text-2{
  padding-top: 25px;
  padding-bottom: 25px;
}
.course-plan__text{
  /* margin-top: 50px; */
  padding-top: 50px ;
  text-align: center;
  padding-bottom: 50px;
}
.course-plan__list-item + .course-plan__list-item{
  padding-top: 20px;
  
}
.course-plan__list-item{
  padding-left: 25px;
}
.course-plan__list-wrapper{
  /* padding-left: 25px; */
  /* width: 1000px; */
  background-color: rgba(243, 243, 243, 0.74);
  margin: 0 25%;
}
.line{
  padding: 0 auto;
  /* max-width: 941.5px; */
  height: 1px;
  background-color: rgb(129, 129, 129);
}